@mixin section_title {
    color: var(--black);
        letter-spacing: 0.5px;
        font-weight: 400;
}
@mixin form_input{ 
    border: none;
    color: var(--black);
    background-color: var(--white);
    &:focus{
        outline: none;
    }
}

.cart_miniature{
    position: relative;
    img{
        &:hover{
            cursor: pointer;
        }
    }
}

.cart{
    width: 100%;
    padding-top: 20vh;
    margin: 0 auto;
    display: grid;
    gap: 12vw;

    .cart_payment{
        padding-top: 35vh;
        font-family: "Helvetica Neue Thin";
        width: 90%;
        min-height: 30vh;
        margin: 0 auto;
        p{
            width: 100%;
            font-size: 5vh;
            padding-bottom: 10px;
            border-bottom: 2px solid var(--black);
            margin-bottom: 5vh;
        }
        h3{
            margin-bottom: 3vh;
            
            font-size: 5vh
        }

        form{
            font-size: 5vh;
                   
            input{
            @include form_input;
                &[type=submit]{
               &:hover{cursor: pointer;}
     
           }
            }
            
            border-bottom: 1px solid var(--black);
            padding-bottom: 10px;
            margin-bottom: 10px;

        }
        .payment_button{
            width:100%;
            background-color:#212121;
            color: var(--white);
            text-transform: uppercase;
            border: none;
            padding: 10px;
            margin-bottom: 5vh;
            font-size: 5vh;
            &:hover{
                cursor: pointer;
            }
        }
    }

}

@media (min-width:768px) {
    .cart{
        height: 85vh;
        grid-template-columns: 7fr 3fr;
        .cart_payment{
            p, h3{
                font-size: 2vh;
            }
            form{
              font-size: 1.8vh;
            }
            .payment_button{
                font-size: 1.8vh;
                margin-bottom: 0;
            }

        }
      
      
    }
    
}
.cart_content{
    font-family: "Helvetica Neue Thin";
    height: 90vh;
    overflow-y: auto;
    width: 90%;
    margin: 0 auto;
    &::-webkit-scrollbar{
        width: 8px;
      }
    
      &::-webkit-scrollbar-thumb{
        background-color: var(--white);
        border-radius: 0.5rem;
      }
    
    h2{
        @include section_title;
        font-family: "Recife Display Italic";
        font-size: 5vh;
    }
    .cart_table{
        width: 100%;
        border-collapse: collapse;
        img{
            min-width: 50px;
            &:hover{
                cursor: pointer;
            }
        }
        tr{
            
            border-bottom:  1px solid var(--black);
        }
        th, td{
            letter-spacing: 1px;
            text-align: center;
            padding: 5vw;
            color: var(--black);
            font-weight: 400;
            font-size: 4vh;
        }
        input{
            background-color: var(--white);
            border: none;
            color: var(--black);
            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media (min-width:768px) {
    .cart_content{
        height: 70vh;
        h2{font-size: 2vh;}
        .cart_table{
            th, td{
                font-size: 1.8vh;
                padding: 3vw
            }
        }
    }
}

.client{
    width: 90%;
    margin: 0 auto;
    font-size: 4vh;
    h2{
        @include section_title;
        margin-bottom: 2vh;
    }
    .confirmations{
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        input{
            margin-right: 3vw;
        }
        label{
            font-family: "Helvetica Neue Thin";
            margin-bottom: 1vh;
            a{
                color: var(--black);
                font-size: 4vh;
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        label{
            font-family: "Helvetica Neue Thin";
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 2vh;
            
        }
       
        input{
            @include form_input;
            border-bottom: 1px solid var(--black);
            width: 75%;
        }
    }
}

@media (min-width:768px) {
    .client{
        font-size: 1.8vh;
        form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 5vw;
            label{
                flex-direction: row;
            }
        }
        .confirmations{
            label{
                a{
                    font-size: 1.8vh;
                }
            }
        }
    }
}