.cart_miniature{
    position: relative;
}

.image:hover {
    cursor: pointer;
}
.resume{
    position: absolute;
    display: none;
    padding: 3rem;
}
.resume_item{
    display: block;
}
.resume a{
    color: var(--black);
}
.cart_miniature:hover .resume{
    display: flex;
    flex-direction: column;
}