.main{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10vh;
    align-items: center;
    text-align: justify;
    h1{
        font-size: 2.5vh;
        align-self: flex-start;
        margin-bottom: 3vh;
    }
    div{
        margin:0 auto 5vh;
    }
    h2{
        font-size: 1.8vh;
        margin-bottom: 2vh;
    }
}

@media (min-width: 1080px) {
    .main{
        min-height: 85vh;

        div{
            margin-bottom: 0;
        }
        section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10vw;
            row-gap: 5vw;
        }

    }
}