.header{
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
    background-color:rgba(141, 141, 141, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
    h1{
        font-weight: 700;
    }
    a, .dropdown_button{
        text-decoration: none;
        color: var(--white);
        letter-spacing: 2px;
    }
    a{
        &:hover{
            cursor: pointer;
        }
    }
}


.header_scroll{
    background-color: var(--blue);
    nav{
        .dropdown_content{
            background-color: var(--blue);
        }
    }
}

.logo{
    position: relative;
    height: 12vh;
    width: 20rem;
    &:hover{
        cursor: pointer;
    }

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown{
    display: inline-block;
    position: relative;
    font-family: "Helvetica Neue Thin";

    &:hover{
        .dropdown_content{
            display: flex;
            flex-direction: column;
        }
    }

    .dropdown_button{
        padding: 0;
        background-color: transparent;
        border: none;
        color: var(--white);
        text-transform: uppercase;
    }
    
    .dropdown_content{
        display: none;
        position: absolute;
            background-color:rgba(141, 141, 141, 0.5);

        a{
            color: var(--white);
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
