.home_header, .views_header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2.5vw;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 1;
    font-size: 1.2vh;
    align-items: center;
    a {
        text-decoration: none;
        letter-spacing: 2px;
        &:hover{
            cursor: pointer;
        }
    }
   
    .dropdown, .burger_menu{
        position: relative;
        
        &:hover{
            .dropdown_content{
                display: flex;
                flex-direction: column;
            }
        }
        .dropdown_content{
            display: none;
            position: absolute;
    
            a{
                text-decoration: none;
                text-transform: uppercase;
            }
        }

    }
    .burger_menu{
        a{
            font-size: 25px;
        }
    }
    .dropdown{
        font-family: "Helvetica Neue Thin";
        .dropdown_button{
            padding: 0;
            border: none;
            text-transform: uppercase;
        }
        
      
    }
}
@media (min-width: 768px) {
    .home_header, .views_header{
        font-size: 1.8vh;
    }
    .burger_menu{
        display: none;
    }
    .dropdown{
        display: inline-block;

    }
}

.home_header{
    background-color:rgba(141, 141, 141, 0.5);
    a, .dropdown_button{
        background-color: transparent;
        color: var(--white);
    }
    .dropdown_content{
        background-color:rgba(141, 141, 141, 0.5);
        a{
            color: var(--white);
        }
    }
}

.views_header{
    background-color: var(--white);
    nav{
        .dropdown_content{
            background-color: var(--white);
        }
    }
    a,.dropdown_button{
        background-color: var(--white);
        color: var(--black);
    }
    .dropdown_content{
        background-color:var(--white);
        a{
            color: var(--black);
        }
    }
}

.logo{
    position: relative;
    height: 12vh;
    width: 35vh;
    &:hover{
        cursor: pointer;
    }
}
@media (min-width:768px) {
    .logo{
        width: 25vhvw;
    }
}

.wrapper{
    position: relative;
    height: 12vh;
    width: 5vw;
    &:hover{
        cursor: pointer;
    }
}
.nav{
    display: none;
    justify-content: space-around;
    align-items: center;
}

@media (min-width:768px) {
    .nav{
        display: flex;
    }
}