.home_header, .views_header{
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    width: 100%;
    z-index: 1;
    a {
        text-decoration: none;
        letter-spacing: 2px;
        &:hover{
            cursor: pointer;
        }
    }
    .dropdown{
        display: inline-block;
        position: relative;
        font-family: "Helvetica Neue Thin";
    
        &:hover{
            .dropdown_content{
                display: flex;
                flex-direction: column;
            }
        }
    
        .dropdown_button{
            padding: 0;
            border: none;
            text-transform: uppercase;
        }
        
        .dropdown_content{
            display: none;
            position: absolute;
    
            a{
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
    
}

.home_header{
    background-color:rgba(141, 141, 141, 0.5);
    a, .dropdown_button{
        background-color: transparent;
        color: var(--white);
    }
    .dropdown_content{
        background-color:rgba(141, 141, 141, 0.5);
        a{
            color: var(--white);
        }
    }
}

.views_header{
    background-color: var(--white);
    nav{
        .dropdown_content{
            background-color: var(--white);
        }
    }
    a,.dropdown_button{
        background-color: var(--white);
        color: var(--black);
    }
    .dropdown_content{
        background-color:var(--white);
        a{
            color: var(--black);
        }
    }
}

.logo{
    position: relative;
    height: 12vh;
    width: 25rem;
    &:hover{
        cursor: pointer;
    }

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

