.header{
    padding: 10rem 5rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
    background-color:rgba(66, 69, 70, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header h1{
    font-weight: 700;
}

.header a, .dropdown_button{
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;


    
}

.header a:hover{
    cursor: pointer;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo__container h1{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 6px;
}
.logo:hover{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.logo span{
    font-weight: 300;
    font-size: 0.75rem;
    letter-spacing: 2px;
    
}

.nav{
    display: flex;
    justify-content: space-around;
}

.dropdown{
    display: inline-block;
    position: relative;
    font-family: "Helvetica Neue Thin";

}

.dropdown_button{
    background-color: transparent;
    border: none;
    color: var(--white);
    text-transform: uppercase;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: transparent;
}

.dropdown_content a{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown:hover .dropdown_content{
    display: flex;
    flex-direction: column;
}