.image{
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 90vh;
    background-color: var(--green);
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;

    p{
        font-family: "Recife Display Italic";
        font-size: 4vh;
        width: 40%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .image{
        width: 100%;
        height: 90vh;

    }
    
}


.section{
    text-align: center;
    margin-bottom: 3vh;
   
    h1{
        display: none;
        font-size: 3.5vh;
        font-weight: 700;
        padding: 2rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 2.5vh;
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 768px) {
    .section{
        h1{
            display: block;
        }
    }
}
    
.text{
    font-family: "Recife Display Italic";
    font-size:2.8vh;
    font-weight: 400;
    width: 60%;
    margin: 0 auto 3rem;
    text-align: center;

}

.wrapper{
    position: relative;
    height:60vh;
    width: 80%;
    margin: 0 auto;
}
.activities_list{
    display: none;
}
@media (min-width:768px){
    .activities_list_mobile{
        display: none;
    }
    .activities_list{
        width: 90%;
        margin: 0 auto 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        h2{
            text-align: center;
            margin: 1rem auto;
            font-size: 2.8vh;
        }
        
        p{
            text-align: justify;
            font-size: 2.5vh;
            width: 80%;
            margin: 0 auto;
        }
        
    }
}

.contact{
    width: 75%;
    margin: 0 auto 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}
.contact__image{
    background-color: var(--blue);
    height: 70vh;
    width: 80%;
}
.contact h4{
    color: var(--gray);
    font-family: "Recife Display Italic";
    font-size: 2.8vh;
    margin-bottom: 2rem;
}

.contact p{

    font-size: 2.5vh;
    margin-bottom: 1rem;
}